{
  "parserOptions": {
      "ecmaVersion": 2018
  },
  "extends": "google",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "max-len": ["error", 120, 2, {
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "quotes": ["error", "single", {
      "avoidEscape": true
    }]
  }
}
