{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "max-len": [
      "error",
      120,
      2,
      {
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ]
  }
}
